h2,h3 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	
}
.text-describe {
	
}
.list {
	list-style: disc;
	margin-left: 40px;
}
.text-dec {
	margin-top: 20px;

}
.footer {
}
li {
	margin-top: 20px;
}
.video {
	margin: 40px 300px;
}