.cart {
  padding: 40px 0;
  &__wrapper {
    display: flex;
    gap: 100px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 30px;
  }
  // .cart__body
  &__products {
    width: 756px;
    .product {
      display: flex;
      align-items: center;
      gap: 50px;

      border-top: 1px solid lightgrey;
      padding: 25px 0;

      // .product__image
      &__image {
        width: 100px;
        height: 100px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__name {
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }

      &__count {
        display: flex;
        align-items: center;
        border: 1px solid #ebebeb;
        border-radius: 6px;
        background-color: #fcfcfc;
        padding: 8px;

        input {
          width: 32px;
          height: 32px;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          color: #000000;
          margin: 0 20px;
          background-color: transparent;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button {
          cursor: pointer;

          span {
            font-size: 20px;
          }
        }
      }

      &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }

      &:last-child {
        border-bottom: 1px solid lightgray;
      }
    }
  }

  .review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 280px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 6%);
    border-radius: 20px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
    }

    &__block {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      justify-content: space-between;
    }
    // .order__button
    &__button {
      background-color: var(--accent-color);
      border-radius: 10px;
      width: 100%;
      padding: 12px 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #ffffff;
    }
  }

  .promo {
    width: 320px;
    padding: 30px;
    margin-top: 20px;

    background: #ffffff;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 6%);
    border-radius: 20px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      margin-bottom: 20px;
    }

    &__main {
      display: flex;
      gap: 8px;

      input {
        background: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        padding: 10px;
      }

      button {
        background-color: var(--accent-color);
        border-radius: 6px;
        padding: 0 10px;
        color: #fff;
      }
    }
  }
}
