body {
  line-height: 1.5;
  font-size: 20px;
}

.p {
  margin-bottom: 20px;
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
  border-top: 1px solid lightgray;
  padding: 20px 0;
}

.collection__image {
  width: 50%;
  position: relative;
}

.collection:nth-child(even) {
  flex-direction: row-reverse;
}

.collection__info {
  width: 50%;
}

.collection__info h1 {
  text-align: center;
}

.collection__image img {
  width: 100%;
  border-radius: 20px;
}

.collection span {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 414px) {
  .collection {
    flex-direction: column !important;
  }

  .collection__image, .collection__info {
    width: 100%;
    text-align: center;
  }
}