.container-col {
  margin-top: 200px;
}

.product {
  margin-bottom: 30px;
  margin-left: 100px;
}

.image {
  margin-bottom: 10px;
}

.image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.info h3 {
  font-size: 21px;
  margin-bottom: 0;
}

.rating {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.rating li {
  display: inline-block;
  color: #ffc107;
}

.info-price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 100px;
}

.add-to-cart {
  border: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #8bc34a;
  color: #fff;
  border-radius: 10px;
}

.price {
  font-weight: 700;
  font-size: 18px;
}

.footer {
  margin-top: 200px;
}

.collection__container {
  display: flex;
}
.collection .product {
  flex: 1 1;
}
.collection {
	margin-top: 150px;
}