@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

:root {
  --accent-color: #db9969;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Arial", sans-serif;
}

[class*="__container"] {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

/* --------------------------------- Header --------------------------------- */
.header {
  background-color: #eeeeee;
  position: sticky;
  top: 0;
  z-index: 999;

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  // .header__logo
  &__logo {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
  // .header__search
  &__search {
    background: #a3d0c3;
    form {
      position: relative;
      width: 300px;
      margin: 0 auto;
    }

    input {
      width: 100%;
      height: 42px;
      padding-left: 10px;
      border: 2px solid var(--accent-color);
      border-radius: 5px;
      outline: none;
      // background: #e9ecef;
      background: #fff;
      color: #000;

      ::placeholder {
        color: #9e9c9c;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0px;
      width: 42px;
      height: 42px;
      border: none;
      background: var(--accent-color);
      border-radius: 0 5px 5px 0;
      cursor: pointer;

      span {
        color: #fff;
      }
    }
  }
  // .header__nav
  &__nav {
  }
  // .header__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }
  // .header__location
  &__location {
    font-family: "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #000000;
  }
  // .header__user
  &__user {
  }
  // .header__favorite
  &__favorite {
  }
  // .header__cart
  &__cart {
  }
  .list {
    // .list__body
    &__body {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    // .list__item
    &__item {
    }
    // .list__link
    &__link {
      font-family: "Arial";
      color: #000000;
      font-weight: 500;
      font-size: 18px;
      background-image: linear-gradient(
        to right,
        var(--accent-color),
        var(--accent-color) 50%,
        #000 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        background: var(--accent-color);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        background-position: 0;

        &::before {
          width: 100%;
        }
      }
    }
  }
}
/* --------------------------------- /Header --------------------------------- */

/* --------------------------------- Banner --------------------------------- */
.banner {
  background-color: #f1f1f1;
  // .banner__container
  &__full-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  // .banner__image
  &__image {
    width: 57%;
    img {
      mix-blend-mode: darken;
    }
  }
  // .banner__info
  &__info {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-width: 323px;
    margin: auto;
    width: 43%;
    // align-items: start;
  }
  // .banner__title
  &__title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
  // .banner__description
  &__description {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 24px 0;
    max-width: 330px;
  }
  // .banner__button
  &__button {
    background: var(--accent-color);
    border-radius: 10px;
    padding: 12px 62px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    cursor: pointer;
  }
}
/* --------------------------------- /Banner --------------------------------- */

/* --------------------------------- Slider --------------------------------- */
.slider {
  padding: 50px 0;
  &__container {
    position: relative;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //.slide__image
    &__image {
      border: 1px solid #000;
      border-radius: 50%;
      width: 120px;
      padding: 20px;
    }

    //.slide__title
    &__title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin-top: 12px;
    }
  }

  .swiper-button-prev {
    height: 65px;
    background-image: url("../img/home/slider/arrow-prev.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    height: 65px;
    background-image: url("../img/home/slider/arrow-next.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }
}
/* --------------------------------- /Slider --------------------------------- */

/* -------------------------------- Products -------------------------------- */
.products {
  padding-bottom: 80px;
  // .products__container
  &__container {
  }
  // .products__title
  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
  }
  // .products__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }

  .product {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 8px;
    // .product__image
    &__image {
      width: 420px;
      height: 272px;
      border: 1px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      img {
      }
    }
    // .product__title
    &__title {
    }
    // .product__price
    &__price {
      margin: 16px 0;
    }
    // .product__actions
    &__actions {
      display: flex;
      align-items: center;
      gap: 55px;
    }
    // .product__cart
    &__cart {
      background: var(--accent-color);
      border-radius: 10px;
      padding: 6px 38px;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
    // .product__favorite
    &__favorite {
      color: #666666;
    }

    .active {
    }
  }
}
/* -------------------------------- /Products -------------------------------- */

/* ------------------------------- Subscription ------------------------------ */
.subscription {
  background-color: #eeceb7;
  padding: 120px 0;
  // .subscription__container
  &__container {
    display: flex;
    gap: 92px;
  }
  // .subscription__info
  &__info {
    width: 418px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  // .subscription__form
  &__form {
    form {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    input {
      background: #ffffff;
      // opacity: 0.3;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 18px;
      width: 530px;

      &:focus {
        outline: none;
        // border: none;
      }
    }

    button {
      background: var(--accent-color);
      border-radius: 10px;
      padding: 12px 62px;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
/* ------------------------------- /Subscription ------------------------------ */

/* --------------------------------- Footer --------------------------------- */
.footer {
  background-color: #b3a094;
  padding: 40px 0 70px;
  color: #fff;

  //.footer__container
  &__container {
    display: flex;
    gap: 400px;
  }
  // .footer__links
  &__links {
    display: flex;
    gap: 120px;
  }
  // .footer__social
  &__social {
  }

  .block {
    // .block__title
    &__title {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    // .block__list
    &__list {
    }
    // .block__item
    &__item {
      margin-bottom: 15px;
    }
    // .block__link
    &__link {
      font-family: "Arial";
      font-weight: 400;
      // line-height: 23px;
      color: #ffffff;
    }
  }
  .social {
    // .social__title
    &__title {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    // .social__links
    &__links {
      display: flex;
      justify-content: space-around;
    }
    // .social__link
    &__link {
    }
  }
}
/* --------------------------------- /Footer --------------------------------- */
