.banner {
  background-color: #f1f1f1;
  // .banner__container
  &__full-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  // .banner__image
  &__image {
    width: 57%;
    img {
      mix-blend-mode: darken;
    }
  }
  // .banner__info
  &__info {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-width: 323px;
    margin: auto;
    width: 43%;
    // align-items: start;
  }
  // .banner__title
  &__title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
  // .banner__description
  &__description {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 24px 0;
    max-width: 330px;
  }
  // .banner__button
  &__button {
    background: var(--accent-color);
    border-radius: 10px;
    padding: 12px 62px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    cursor: pointer;
  }
}

.slider {
  padding: 40px 0;
  &__container {
    position: relative;
  }
  .swiper {
    width: 100%;
    height: 100%;
    padding-top: 13px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //.slide__image
    &__image {
      border: 1px solid #000;
      border-radius: 50%;
      width: 120px;
      padding: 20px;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }

    //.slide__title
    &__title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin-top: 12px;
    }
  }

  .swiper-button-prev {
    height: 65px;
    background-image: url("../img/home/slider/arrow-prev.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    height: 65px;
    background-image: url("../img/home/slider/arrow-next.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }
}

.products {
  padding-bottom: 80px;
  // .products__title
  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 20px;
  }
  // .products__wrapper
  &__wrapper {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 28px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 8px;
    // .product__image
    &__image {
      width: 420px;
      height: 272px;
      border: 1px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      transition: all .4s;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
        transform: scale(1.04);
        // border: none;
      }
    }
    // .product__price
    &__price {
      margin: 16px 0;
    }
    // .product__actions
    &__actions {
      display: flex;
      align-items: center;
      gap: 55px;
    }
    // .product__cart
    &__cart {
      background: var(--accent-color);
      border-radius: 10px;
      padding: 6px 38px;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #ffffff;
    }
    // .product__favorite
    &__favorite {
      color: #666666;
    }
  }
}

.subscription {
  background-color: #eeceb7;
  padding: 120px 0;
  // .subscription__container
  &__container {
    display: flex;
    gap: 92px;
  }
  // .subscription__info
  &__info {
    width: 418px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  // .subscription__form
  &__form {
    width: 830px;
    form {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    input {
      background: #ffffff;
      // opacity: 0.3;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 18px;
      width: 100%;

      &:focus {
        outline: none;
        // border: none;
      }
    }

    button {
      background: var(--accent-color);
      border-radius: 10px;
      padding: 12px 62px;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .subscription {
    button {
      padding: 12px 30px;
      font-size: 17px;
    }
  }
}

@media (max-width: 414px) {
  .testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;    
  }

  .subscription__form {
    width: 100%;
  }

  .products .product__image {
    /* width: 420px; */
    width: auto;
    height: auto;
    /* height: 272px; */
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    transition: all 0.4s;
    transition: all 0.3s ease-in-out;
  }

  .subscription__form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .subscription__form input {
    background: #ffffff;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 18px;
    width: 100%;
  }

  .subscription__info {
  /* width: 208px; */
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
}

@media (max-width: 1316px){
.products__title {
	text-align: center;
}
.subscription__container {
	margin-left: 200px;
	display: block;
}
.subscription__info p {
	width: 600px;
	margin-right: 200px;
	margin-bottom: 20px;
}

.subscription__form input {
	width: 65%;
}
}

@media (max-width: 390px) {
	.footer__social {
		display: none;
	}
}

@media (max-width: 390px) {
	.subscription__info{
		font-size: 20px;
		width: 100%;
		margin-bottom: 30px;
	}
	.subscription__form form {

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }

	.banner__full-container {
		flex-direction: column;
		display: flex;
		max-width: 1440px;
		margin: 10 auto;
	}
	.banner__image {
		width: 100%;
	}
	.banner__info {
		/* margin: 0; */
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.reviews {
  padding: 50px 0;
  // color: #fff;
  // .reviews__container
  &__container {
  }
  // .reviews__title
  &__title {
    text-align: center;
    margin-bottom: 30px;
    h1 {
      font-size: 40px;
      color: #000;
    }

    h4 {
      color: var(--accent-color);
      font-size: 20px;
    }
  }
  // .reviews__wrapper
  &__wrapper {
    padding: 30px 0;
    display: flex;
    gap: 40px;
  }

  .block {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    transition: 0.8s;


    // .block__icon
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 40px; 
      }
    }
    // .block__info
    &__info {
      margin: 20px 0;
      text-align: justify;
    }
    &:hover {
      transform: translateY(-8px);
    }
  }
  .person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    // .person__image
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f1f1;
      width: 150px;
      border-radius: 10px;
    

      img {
        border-radius: 20px;
      }
    }
    // .person__info
    &__info {
    }
  }
}