.banner {
  background-color: #f1f1f1;
  // .banner__container
  &__full-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  // .banner__image
  &__image {
    width: 57%;
    img {
      mix-blend-mode: darken;
    }
  }
  // .banner__info
  &__info {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-width: 323px;
    margin: auto;
    width: 43%;
    // align-items: start;
  }
  // .banner__title
  &__title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
  // .banner__description
  &__description {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 24px 0;
    max-width: 330px;
  }
  // .banner__button
  &__button {
    background: var(--accent-color);
    border-radius: 10px;
    padding: 12px 62px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    cursor: pointer;
  }
}

.slider {
  padding: 50px 0;
  &__container {
    position: relative;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //.slide__image
    &__image {
      border: 1px solid #000;
      border-radius: 50%;
      width: 120px;
      padding: 20px;
    }

    //.slide__title
    &__title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin-top: 12px;
    }
  }

  .swiper-button-prev {
    height: 65px;
    background-image: url("../img/home/slider/arrow-prev.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    height: 65px;
    background-image: url("../img/home/slider/arrow-next.svg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }
}

.products {
  padding-bottom: 80px;
  // .products__container
  &__container {
  }
  // .products__title
  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 20px;
  }
  // .products__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }

  .product {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 8px;
    // .product__image
    &__image {
      width: 420px;
      height: 272px;
      border: 1px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      img {
      }
    }
    // .product__title
    &__title {
    }
    // .product__price
    &__price {
      margin: 16px 0;
    }
    // .product__actions
    &__actions {
      display: flex;
      align-items: center;
      gap: 55px;
    }
    // .product__cart
    &__cart {
      background: var(--accent-color);
      border-radius: 10px;
      padding: 6px 38px;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
    // .product__favorite
    &__favorite {
      color: #666666;
    }

    .active {
    }
  }
}

.subscription {
  background-color: #eeceb7;
  padding: 120px 0;
  // .subscription__container
  &__container {
    display: flex;
    gap: 92px;
  }
  // .subscription__info
  &__info {
    width: 418px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  // .subscription__form
  &__form {
    form {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    input {
      background: #ffffff;
      // opacity: 0.3;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 18px;
      width: 530px;

      &:focus {
        outline: none;
        // border: none;
      }
    }

    button {
      background: var(--accent-color);
      border-radius: 10px;
      padding: 12px 62px;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

