.order {
  padding-top: 40px;
  padding-bottom: 60px;
}
.order__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.order__title {
  text-align: center;
}

form {
  width: 500px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}
form .form-block {
  margin-bottom: 16px;
}
form .form-block label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
form .form-block input {
  width: 100%;
  background: #fcfcfc;
  border-radius: 7px;
  border: 1px solid #ebebeb;
  padding: 19px 0 19px 30px;
}
form .form-block input::-webkit-calendar-picker-indicator {
  opacity: 0;
  visibility: hidden;
}
form a {
  background: var(--accent-color);
  border-radius: 6px;
  padding: 17px 32px;
  display: inline-block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 15.6716px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 30px;
}

@media (max-width: 414px) {
  form {
    width: auto;
  }
}

@media (max-width: 820px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
  }
}
