// @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
  --accent-color: #00ac4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* --------------------------------- header --------------------------------- */
.header {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  // .header__logo
  &__logo {
    img {
      width: 120px;
    }
  }
  // .header__nav
  &__nav {
  }
  // .header__actions
  &__actions {
    display: flex;
    gap: 30px;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      color: var(--accent-color);
      cursor: pointer;

      span {
        font-size: 30px;
      }
    }
  }
  // .header__phone
  &__phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      font-size: 18px;
      color: var(--accent-color);
    }
  }
  // .header__user
  &__user {
  }
  // .header__cart
  &__cart {
  }

  .list {
    // .list__body
    &__body {
      display: flex;
      gap: 45px;

      //Dropdown menu
      .nav-item-dropdown {
        position: relative;

        &:hover {
          .dropdown-menu {
            display: block;
            opacity: 1;
          }
        }
      }

      .dropdown-trigger {
        position: relative;
        z-index: 2;

        &:focus + .dropdown-menu {
          display: block;
          opacity: 1;
        }
      }

      .dropdown-menu {
        display: none;
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        width: 158px;
        padding: 52px 0 16px 0;
        opacity: 0;
        z-index: 1;
        // transition: opacity 0.5s;

        position: absolute;
        top: -15px;
        left: -29px;
      }

      .dropdown-menu-item {
        cursor: pointer;
        padding: 9px 20px 9px 26px;

        a {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 13px;
          color: #333333;
          display: flex;
          gap: 6px;

          :first-child {
            font-size: 17px;
          }
        }

        &:hover {
          background-color: #e9ecef;
        }
      }
    }
    // .list__item
    &__item {
      display: inline;
    }
    // .list__link
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #333333;

      background-image: linear-gradient(
        to right,
        var(--accent-color),
        var(--accent-color) 50%,
        #000 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        background: var(--accent-color);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        background-position: 0;

        &::before {
          width: 100%;
        }
      }
    }
  }
}

/* --------------------------------- /header --------------------------------- */

/* -------------------------------- Products -------------------------------- */

.products {
  // .products__container
  &__container {
  }
  // .products__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px;
  }

  &__title {
    font-weight: 500;
    font-size: 27px;
    line-height: 19px;
    color: #000000;
    margin: 30px 0;
  }

  .product {
    width: 205px;
    // .product__image
    &__image {
      background-color: #e9ecef;
      background-image: url("../img/product.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 125px;
      border-radius: 5px;
      display: block;
      cursor: pointer;
      margin-bottom: 9px;
    }
    // .product__title
    &__title {
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      color: #000000;
    }
    // .product__desc
    &__desc {
      font-size: 13px;
      line-height: 19px;
      color: #000000;
      margin: 5px 0 12px;
    }
    // .product__rate
    &__rate {
      margin-bottom: 4px;

      span {
        background: url("../img/star.svg");
        height: 13px;
        width: 13px;
        display: inline-block;
        cursor: pointer;

        &.active {
          background: url("../img/star-green.svg");
        }
      }
    }
    // .product__price
    &__price {
      display: flex;
      gap: 18px;
      align-items: center;
      margin: 9px 0 13px;
      :first-child {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
      }

      :last-child {
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        color: #828282;
      }
    }
    // .product__button
    &__button {
      padding: 9px 28px;
      border: none;
      border-radius: 5px;
      background-color: var(--accent-color);
      font-weight: 500;
      font-size: 18px;
      color: #ffffff;
    }
  }
}

/* -------------------------------- /Products -------------------------------- */

.search {
  background: #a3d0c3;
  form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    outline: none;
    // background: #e9ecef;
    background: #fff;
    color: #000;

    ::placeholder {
      color: #9e9c9c;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: var(--accent-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;

    span {
      color: #fff;
    }
  }
}
